@media all and (max-width: 998px) and (min-width: 768px){
    html{
        font-size: 55.5%;
    }
}
 

@media all and (max-width: 878px) and (min-width: 768px){
    html body .banner1 .header .menu-list {
        width: 90%;
    }
    .menu-list ul li a {
        font-size: 1.8rem !important;
    }
}

@media only screen and (max-width:767px){
    html body .banner1 .header .menu-list ul{
        display: none;
    }
    html body .banner1 .header .menu-list .toggl-btn {
        display: flex;
    }
}

@media only screen and (max-width: 500px){
    html body .banner1 .header{
        padding: 0 2rem 0;
    }
    .center-logo img{
        width: 40vw;;
    }
    .main-div .main-banner-heading h1{
        font-size: 14rem;
    letter-spacing: 1rem;
    }
    .main-heading h1{
        font-size: 6rem;
    }
    .main-div .box .box-content h1{
        font-size: 45px;
    }
}
@media only screen and (max-width: 425px){
    .special-deals .main-deal .inner-content .img-holder .menu-details .sub-heading{
        font-size: 1.6rem;
        margin-bottom: 2rem;
    }
    .special-deals .main-deal .inner-content .img-holder .menu-details .heading{
        font-size: 2.5rem;
    }
}